#news_item {
  position: relative;
}

.card {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #000;
  overflow: hidden;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.card .poster {
  position: relative;
  overflow: hidden;
}

.card .poster:before {
  content: "";
  position: absolute;
  bottom: -200px;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, #000 50%, transparent);
  transition: 0.5s;
  z-index: 1;
}

.card:hover .poster:before {
  bottom: 0;
}

.card .poster img {
  width: 100%;
  transition: 0.5s;
}

.card:hover .poster img {
  filter: blur(5px);
  transform: translateY(-50px);
}

.details {
  position: absolute;
  padding: 12px;
  width: 100%;
  height: 76%;
  bottom: -200px;
  left: 0;
  box-sizing: border-box;
  transition: 0.5s;
  z-index: 2;
}

.card:hover .details {
  bottom: 0;
}

.details h2 {
  color: #fff;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 500;
}

.details h2 span {
  font-size: 12px;
  color: orange;
}

.rating {
  position: relative;
  padding: 5px 0;
}

.rating span {
  color: #fff;
  padding: 0 5px;
}

.tags {
  position: relative;
  margin-top: 5px;
}

.tags span {
  padding: 2px 5px;
  margin-right: 2px;
  color: #fff;
  display: inline-block;
  border-radius: 4px;
}

.tags span.fantasy {
  background: mediumpurple;
}

.tags span.mystery {
  background: mediumturquoise;
}

.info {
  color: #fff;
}

.info p {
  margin: 15px 0 10px;
}

.cast {
  position: relative;
}

.cast h4 {
  margin: 0;
  padding: 0;
  font-size: 20px;
  color: yellow;
}

.cast ul {
  margin: 10px 0 0;
  padding: 0;
  display: flex;
}

.cast ul li {
  list-style: none;
  width: 35px;
  height: 35px;
  background: #fff;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 6px;
  border: 2px solid #fff;
}

.cast ul li img {
  width: 100%;
}

#news24h {
  overflow: hidden;
}

#news24h img {
  width: 100%;
  border-radius: 7px;
  height: 280px;
  object-fit: cover;
  object-position: center;
}

#news24h #small-content img {
  border-radius: 7px;
  width: 120px;
  height: 100px;
  object-fit: cover;
  object-position: center;
}

#news24h h3 {
  font-weight: 700;
  margin: 10px 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 2;
}

#news24h h3:hover {
  color: #108f3e;
  cursor: pointer;
}

#news24h p {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

#newsTabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  font-size: 22px;
  line-height: 24px;
  color: #fb4226;
}

#newsTabs .ant-tabs-tab {
  font-size: 22px;
}

#newsTabs .ant-tabs-tab:hover {
  color: #fb4226;
}
