#movie_app {
  padding: 120px 0 80px 0;
  background-size: contain;
}

#movie_app .content a {
  color: #fff;
  border: none;
  padding: 18px 32px;
  font-size: medium;
  margin-top: 16px;
  font-weight: 700;
  border-radius: 4px;
  background-color: #fb4226;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%),
    0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
  min-width: 64px;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  cursor: pointer;
  line-height: 28px;
}

#movie_app .content a span {
  width: 100%;
  display: inherit;
  align-items: inherit;
  justify-content: inherit;
  line-height: 1.75;
}

#movie_app .img img {
  position: relative;
  height: 100%;
}
